
body{
    text-align: center;
    margin: 100px 5px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
    /* background-image: "geforce-ada-4090-web-og-1200x630"; */
    /* background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; */
    background-color: rgb(31, 106, 66)  ;

}



.geforce_gpu{

  /* Full height */
   
  /* margin-left: 0px;
  margin-right: 0px; */

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}





/* /* *{
    margin: 0;
    padding: 0;
} */

/* .wrapper{
    margin: 0 auto;
    width: 1000px;
}

.geforce_gpu{
    
    width: 300px;
    height: 100px;
    /* Center and scale the image nicely */
    /* background-image: url(c:\Users\AMRO\Documents\GitHub\CIS-201\Project20241\src\img\geforcre_gpu.jpg); */
    /* background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
    /* }   */


table , th ,td{
    margin-left: 35%;
    border: 4px solid black;
    border-collapse: collapse;
    padding: 36px;
    table-layout: auto;
    background-color: gray;
    font-size: 100%;
    color: whitesmoke;
    

}


caption{
    font-size: 150%;
    font-weight: bold;
    color: floralwhite;
}


ul{
    list-style-type: disc;
}


p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200%;

    color: rgb(168, 121, 26);
}


h1{
    font-size: 300%;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

h2{
    font-size: 200%;
    color: greenyellow;
}

label{
    color: rgb(31, 106, 66);

}

form{
    background-color: black;
}


/* Add a black background color to the top navigation */
.topnav {
    background-color: black;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #333;
    color: white;
    padding: 10px;
    z-index: 1000; /* Ensures the navbar is on top of other elements */
    
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }